<h3>Detalles del empleado</h3>
<div>
  <div>
    <label><b>Id :</b>{{ employee.id }}</label>
  </div>
  <div>
    <label><b>Nombres : </b>{{ employee.names }}</label>
  </div>
  <div>
    <label><b>Apellidos : </b>{{ employee.surnames }}</label>
  </div>
  <div>
    <label><b>Tipo de documento : </b>{{ employee.documentType }}</label>
  </div>
  <div>
    <label><b>Numero de documento : </b>{{ employee.document }}</label>
  </div>
  <div>
    <label><b>Telefono : </b>{{ employee.phone }}</label>
  </div>
  <div>
    <label><b>Direccion : </b>{{ employee.address }}</label>
  </div>
  <div>
    <label><b>Tipo de contrato : </b>{{ employee.typeContract }}</label>
  </div>
  <div>
    <label><b>Fecha de ingreso : </b>{{ employee.admissionDate }}</label>
  </div>
  <div>
    <label><b>Estado : </b>{{ employee.state }}</label>
  </div>
  <div>
    <label><b>Cargo: </b>{{ employee.charge }}</label>
  </div>
  <div>
    <label><b>Supervisor : </b>{{ employee.supervisor }}</label>
  </div>
</div>
