<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <ul class="navbar-nav">
    <li class="nav-item">
      <a routerLink="employees" routerLinkActive="active" class="nav-link">Lista empleados</a>
    </li>
    <li class="nav-item">
      <a routerLink="register-employees" routerLinkActive="active" class="nav-link">Registar nuevo empleado</a>
    </li>
    <li class="nav-item">
      <a routerLink="vacation-request" routerLinkActive="active" class="nav-link">Crear solicitud vacaciones</a>
    </li>
    <li class="nav-item">
      <a routerLink="vacationRequests" routerLinkActive="active" class="nav-link">Lista de solicitudes</a>
    </li>
  </ul>
</nav>
<h1 class="text-center">{{title}}</h1>
<div class="container">
<router-outlet></router-outlet>
</div>
